config SHIELD_TOMAK79_LEFT
    def_bool $(shields_list_contains,tomak79_left)

config SHIELD_TOMAK79_RIGHT
    def_bool $(shields_list_contains,tomak79_right)

config SHIELD_TOMAK79_DONGLE
    def_bool $(shields_list_contains,tomak79_dongle)

config SHIELD_TOMAK79_DONGLE_I2C_TEST
    def_bool $(shields_list_contains,tomak79_dongle_i2c_test)
